.box {
    padding: 15px; /* Adjust the padding value to your preference */
    background-color: #f0f0f0; /* Set the background color to grey (you can use any color code) */
  }
  .Designation{
    background-color: RED;
  }